
<div class="container content">
  <div class="page-header">
    <div class="container">
      <h3>Ruteo Simple</h3>
      <div class="navLinks">
        <a [routerLink]="['/home']">Home </a>
        <a [routerLink]="['/destino']"> Destino </a>
      </div>
    </div>
  </div>

  <div class="row tituloapp">
    <div class="col-md-12">
    <h1>
      {{title}}
    </h1> 
    </div>
  </div> 

  
  
  <router-outlet> </router-outlet> 
    
</div>

